/* --------------- RESET ---------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

ol, ul {
    /* Annule l'affichage des puces et numéros des listes */
    list-style: none;
}

a {
    color: inherit;
}

address {
    font-style: normal;
}

button,
input,
textarea,
select{
    align-items: stretch;
    border: 0;
    width: 100%;
    padding: 3px;
}

label {
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
}

h1.notfound {

    text-align: center;
    color: red;
    font-size: 90px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.315);

}

span.notfound {

    font-weight: 700;
    text-align: center;
    color: red;
    font-size: 14px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.315);

}

/* ---------------------------------------- */ 

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/assets/img/voiture.jpg");
}


header, footer {
    padding: 10px;
    background-color: #e22020;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid white;
    align-items: center;
}

header span {
    font-weight: 700;
    display: inline-block;
    font-size: 2em;
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;
}

footer {
    border-top: 5px solid white;
}

main {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-grow: 1;
    width: 100%;
}

    main > section {
        background-color:  white;
        height: auto;
        margin: 20px;
    }

        main #section-results {
            border-radius : 5px;
            width: 45vw;
            padding: 10px;

        }

            main #section-results .card {
                padding: 15px;
                border : 3px solid black;
                border-radius : 5px;
                margin: 5px;
            }

            main #section-results .card h2 {
                color : #e22020;
            }

            main #section-results .card > div {
                padding: 15px;
            }    

        main #section-search {
            width: 25vw;
        }


    main form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(148, 16, 16);
        color: white;
        font-weight: 700;
    }

    main form > div {
        padding: 12px;
    }

